@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

.dropdown-menu[data-bs-popper] {
    top: 136%;
    left: -127px;
}

body {
    /* font-family: "Montserrat", sans-serif; */
    /* font-family: "Pixelify Sans", sans-serif; */
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
}

.Bg-sfondo {
    background-image: url("assets/bg-pagine.jpg");
    background-position: center;
    background-size: cover;
    opacity: 1;
}

.Bg-sfondo-dark {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/bg-pagine.jpg");
    background-position: center;
    background-size: cover;
    opacity: 1;
}

.altezza-sfondo {
    min-height: 110vh;
}

.color {
    color: #fea800;
}

.altezza {
    height: 80vh;
}

.opaco {
    background-color: rgba(0, 0, 0, 0.5);
}

.animation {
    transition: all 0.3s ease;
}

.animation:hover {
    scale: 1.02;
}

.positionX {
    position: absolute;
    right: 19px;
    top: 12px;
}

.loginDiv {
    background-color: rgba(255, 255, 255, 0.014);
    backdrop-filter: blur(5px);
}

.custom-position {
    position: absolute;
    right: 8px;
    top: 5px;
}

.custom-position2 {
    position: absolute;
    right: 50px;
    top: 13px;
}

.customPositioning {
    position: absolute;
    right: 180px;
    top: -23px;
}

.customWidth {
    width: 40px;
}

.box {
    margin: 0px;
    width: auto;
    height: 100px;
}
.stamp {
    transform: rotate(12deg);
    color: #555;
    font-size: 3rem;
    font-weight: 700;
    border: 0.25rem solid #555;
    display: inline-block;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    border-radius: 1rem;
    font-family: "Courier";
    -webkit-mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png");
    mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png");
    -webkit-mask-size: 944px 604px;
    mask-size: 944px 604px;
    mix-blend-mode: multiply;
}

.is-nope {
    /* color: #d23;
    border: 0.5rem double #d23; */
    transform: rotate(19deg);
    mask-position: 2rem 3rem;
    -webkit-mask-position: 2rem 3rem;
    font-size: 2rem;
}

.positionStamp {
    position: absolute;
    right: 27px;
    top: 61px;
    z-index: 99;
}

.filterGrayScale {
    filter: grayscale(100%);
}

.filterGrayScale:hover {
    filter: grayscale(0);
}

.scalaAnimazione {
    scale: 1;
    transition: all 0.5s ease;
}

.scalaAnimazione:hover {
    scale: 1.02;
    transition: all 0.5s ease;
}

.obscure {
    z-index: 999;
    width: 100%;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(10px);
}

.enlight:hover {
    background-color: rgb(244, 164, 96);
    border: #fea800 3px solid;
}

._green {
    background-color: #60f46ca2;
    border: #19e92a 3px solid !important;
}

._yellow {
    background-color: rgba(244, 165, 96, 0.774);
    border: #fea800 3px solid !important;
}

._red {
    background-color: #e20a0ab9;
    border: #661818 3px solid !important;
}

._white {
    background-color: #b6b2b2;
    border: #ddd1d1 3px solid;
}

.bordino {
    border: solid 2px whitesmoke;
}

.enlight_green:hover {
    background-color: #60f46c;
    border: #19e92a 3px solid;
}

.enlight_yellow:hover {
    background-color: rgb(244, 164, 96);
    border: #fea800 3px solid;
}

.enlight_red:hover {
    background-color: #e20a0a;
    border: #661818 3px solid;
}

.enlight_white:hover {
    background-color: #b6b2b2;
    border: #ddd1d1 3px solid;
}

.bg-button {
    background-color: rgba(255, 255, 255, 0.014);
    backdrop-filter: blur(10px);
    border: white 1px solid;
}

.custom-h {
    height: 65vh;
}

.blurStyle {
    background-color: rgba(255, 255, 255, 0.014);
    backdrop-filter: blur(10px);
}

.customProp {
    background-color: rgba(37, 36, 36, 0.973);
    z-index: 999;
}

.customModalAnimation {
    transition: all 0.5s ease;
    animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    perspective: 1000px;
}

@keyframes slide-in-bck-center {
    0% {
        transform: translateZ(600px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

.profondita {
    perspective: 1000px;
}

.effettoVetro {
    background-color: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(20px);
}

.large-2::-webkit-scrollbar-track {
    border: 1px solid #000;
    padding: 2px 0;
    background-color: #404040;
}

.customPositionPdfIcon {
    position: absolute;
    right: 21px;
    bottom: 21px;
}

.h-card {
    height: 70vh;
}

.nameColor {
    color: rgb(176, 177, 179);
}

.buttonStyle1_position {
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    top: -14%;
    left: 104%;
}

.buttonStyle2_position {
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    top: -23%;
    left: 30%;
}

.buttonStyle3_position {
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    top: 30%;
    left: 25%;
}

.customPosition-Row {
    position: sticky;
    top: 85px;
    z-index: 999;
}

.customPosition-sticky {
    position: sticky;
    top: 75px;
    z-index: 500;
}

.customPosition-sticky2 {
    position: sticky;
    top: 180px;
    z-index: 400;
}

.slide-out {
    animation: slide-out-bck-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes slide-out {
    0% {
        transform: translateZ(0);
        opacity: 1;
    }
    100% {
        transform: translateZ(-1100px);
        opacity: 0;
    }
}

.scrollBar {
    height: 950px;
    overflow-y: scroll;
}

.scrollBar2 {
    height: 950px;
    overflow-y: scroll;
}

#style-1::-webkit-scrollbar {
    width: 10px;

    background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
    background-color: #ffc107;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.treasurePosition {
    position: absolute;
    top: 21%;
}

.zindex {
    z-index: 9999;
}

.size {
    font-size: 0.8em;
}

.puff-in {
    animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@keyframes puff-in-center {
    0% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
}

.shake {
    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes shake-bottom {
    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }
    10% {
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }
    80% {
        transform: rotate(-2deg);
    }
    90% {
        transform: rotate(2deg);
    }
}

.big {
    font-size: 2.5em;
}

.lineHeigth {
    line-height: 8rem;
}

.immagineProfilo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
}

.customposition3 {
    position: absolute;
    top: 10px;
    right: 50px;
}
